.page{

////////////////////////////////////////////////////////////////////////////////
// Globals
////////////////////////////////////////////////////////////////////////////////

form,
table{

  a{
    color:lighten($boushh-primary, 5%);

    &:hover{
      color:lighten($boushh-primary, 20%);
    }
  }

  h1,h2,h3{
    color:color(80%);

    small{
      color:color(50%);

      em{
        color:color(40%);
      }
    }

    em{
      font-weight:100;
      font-style:normal;
    }
  }

  h1{

  }

  h2{
    margin:0;
    padding:0;
  }

  small{
    font-size:80%;
    font-weight:100;
    letter-spacing:rem-calc(1);
  }

  label,
  caption{
    font-weight:700;
    font-size:rem-calc(15);
    line-height:rem-calc(15);
    padding-bottom:rem-calc(5);
    color:color(70%);
    text-transform: uppercase;

    strong{
      color:color(80%);
    }
  }

  label{
    display:block;
  }

  label.option{
    display:inline;
    font-weight:300;
    font-size:rem-calc(14);
    line-height:rem-calc(14);
    padding-bottom:0;
    color:color(70%);
    text-transform: none;
  }

  .description{
    color:color(40%);
    font-size:rem-calc(12.5);
    letter-spacing:rem-calc(.5);
    line-height:rem-calc(16);
    font-weight:200;
    padding:rem-calc($boushh-spacing*.25 0 0);
    text-shadow: 0 1px 0 color-alt(5%);

    code{
      border:none;
    }

    a{
      font-weight:600;
    }
  }

  .inline-list{
    margin:0;
  }

  .alert-box{
    margin:rem-calc(0 0 $boushh-spacing);
  }

  .ajax-progress-throbber{
    border-radius:0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Field Formatting
////////////////////////////////////////////////////////////////////////////////

.field{
  margin:rem-calc(0 0 $boushh-spacing);

  &.field-label-above{
    > div:first-child{
      text-transform: uppercase;
      color: color(20%);
      font-weight: 600;
      padding:rem-calc(0 0 5);
      font-size:rem-calc(13);
    }

    // div.field-items{
    //   border-left:2px solid color(50%);
    //   padding-left:rem-calc(5);
    // }
  }

}

.content{
  > .field:last-child{
    margin-bottom:0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Container Inline
////////////////////////////////////////////////////////////////////////////////

.container-inline:not(.vertical-tabs-pane){
  .fieldset-wrapper > .form-item{
    display:inline-block;
    @include boushh-reset();
    padding:0;
    margin:rem-calc(0 $boushh-spacing 0 0);
  }

  button.tiny:not(.ui-button){
    @include boushh-button();
  }
}

////////////////////////////////////////////////////////////////////////////////
// Outset and Insets
////////////////////////////////////////////////////////////////////////////////

fieldset:not(.vertical-tabs-pane){
  > .fieldset-wrapper > .form-item,
  > .fieldset-wrapper > .form-item > div > .form-item,
  > .fieldset-wrapper > div > .form-item,
  > .fieldset-wrapper > div > div > fieldset.form-wrapper,
  > .fieldset-wrapper > div > div > .form-wrapper > fieldset,
  > .fieldset-wrapper > .form-wrapper > .form-item,
  > .fieldset-wrapper > .form-wrapper > .form-wrapper,
  > .fieldset-wrapper > .form-wrapper > div > .form-item,
  > .fieldset-wrapper > .form-wrapper > div > div > .form-item,
  > .fieldset-wrapper > fieldset > .fieldset-wrapper  > fieldset > .fieldset-wrapper > .form-item{
  // &.vertical-tabs-pane > .fieldset-wrapper > .form-wrapper > div > .form-wrapper > .fieldset-wrapper > div > fieldset{
    @include boushh-outset();
    // padding:rem-calc($boushh-spacing);
    // margin: rem-calc(0 0 $boushh-spacing);
  }

  // &.vertical-tabs-pane > .fieldset-wrapper > .form-wrapper > .form-item,
  // &.vertical-tabs-pane > .fieldset-wrapper > .form-wrapper > div > .form-item,
  > .fieldset-wrapper > .form-wrapper > .form-wrapper > .form-item,
  > .fieldset-wrapper > fieldset > .fieldset-wrapper > .form-item,
  > .fieldset-wrapper > .form-wrapper > .form-wrapper > .fieldset-wrapper > .form-item,
  > .fieldset-wrapper > div > div > .form-wrapper > fieldset > .fieldset-wrapper > .form-item,
  > .fieldset-wrapper > div > div > .form-wrapper > fieldset > .fieldset-wrapper > .form-wrapper > div > .form-item,
  > .fieldset-wrapper > .form-wrapper > .form-wrapper > .fieldset-wrapper > .form-wrapper,
  > .fieldset-wrapper > .form-wrapper > .form-item > .form-checkboxes,
  > .fieldset-wrapper > .form-item > .form-checkboxes,
  > .fieldset-wrapper > .form-wrapper > .fieldset-wrapper > .form-wrapper > .form-item{
    @include boushh-inset();
    // padding:rem-calc($boushh-spacing);
    // margin: rem-calc(0 0 $boushh-spacing);
  }

  > .fieldset-wrapper > .form-item > .form-wrapper > .form-item{
    @include boushh-inset();
    margin:0;
  }

  // &.vertical-tabs-pane > .fieldset-wrapper > fieldset > .fieldset-wrapper > .form-item,
  // > .fieldset-wrapper > .form-wrapper > div > div > .form-item,
  > .fieldset-wrapper > fieldset{
    @include boushh-outset();
  }

  // &.vertical-tabs-pane > .fieldset-wrapper > fieldset,
  > .fieldset-wrapper > fieldset > .fieldset-wrapper > fieldset{
    @include boushh-inset();
  }

  > .fieldset-wrapper > .form-wrapper > fieldset.form-wrapper{
    padding:rem-calc($boushh-spacing*2.5 $boushh-spacing 0);
  }

  > .fieldset-wrapper > .form-item > div.form-checkboxes > .form-item,
  &.filter-wrapper > .fieldset-wrapper > .form-item{
    @include boushh-reset();
    padding:0;
    margin:0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Asset Browser
////////////////////////////////////////////////////////////////////////////////

.asset-inline-entity-browser{

  fieldset.ief-form{
    padding:rem-calc($boushh-spacing*2.5 $boushh-spacing 0);

    .fieldset-wrapper{
      margin:rem-calc(0);
      padding:0;
      background:none;

      .form-wrapper{
        border:none;
        padding:0;
        margin:0;
        // border:none;
        // margin:rem-calc($boushh-spacing 0 $boushh-spacing);
        // padding:0;
      }
    }
  }
}

.asset-browser{

  .views-exposed-form{

    .views-exposed-widgets{
      border:none;
      padding:0;

      .views-exposed-widget{
        margin:rem-calc(0 $boushh-spacing 0 0);

        label{
          font-size:rem-calc(12);
          font-weight:300;
          line-height:normal;
          padding:rem-calc(0 0 2);
        }

        button{
          margin:rem-calc($boushh-spacing 0 0);
        }
      }
    }
  }

}

.fieldset-wrapper{

  .asset-browser{

    .view-content{
      @include boushh-inset();
      padding:rem-calc($boushh-spacing);
      margin:0;
    }

    .views-exposed-form{
      @include boushh-inset();
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Filters
////////////////////////////////////////////////////////////////////////////////

.exposed-filters{
  div.filters{
    @include boushh-reset();
    padding:0;
    margin:0;

    > .form-item{
      display:block;
      float:left;
      @include boushh-reset();
      padding:0;
      margin:rem-calc(0 $boushh-spacing 0 0);

      label{
        font-size:rem-calc(12);
        font-weight:300;
        line-height:normal;
        padding:0;
      }
    }
  }

  .form-actions{
    @include boushh-reset();
    padding:0;
    margin:0;
  }
}

.view-filters{
  margin-bottom:rem-calc($boushh-spacing);

  > form{
    margin:0;
  }
}

.views-exposed-form{
  border:none;
  @include boushh-inset();
  padding:rem-calc($boushh-spacing);
  margin:0;

  .views-exposed-widgets{
    margin:0;

    &:before{
      color:rgba(color(70%), .3);
      font-family: "FontAwesome";
      font-size:rem-calc(78);
      line-height:rem-calc(78);
      content: "\f002";
      float:left;
      padding-right:rem-calc($boushh-spacing);
    }
  }

  .views-exposed-widget{
    margin:rem-calc(0 $boushh-spacing 0 0);
    padding:0;
  }

  label{
    color:color(70%);
    font-size:rem-calc(12);
    font-weight:300;
  }

  .views-widget .form-item{
    @include boushh-reset();
    padding:0;
    margin:0;
  }

  .views-submit-button,
  .views-reset-button{
    padding:rem-calc($boushh-spacing 0 0);

    button{
      margin:0;
    }

    button.tiny{
      @include boushh-button();
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////////////////////////////////////

button:not(.ui-button), button.button, a.button,
#linkit-cancel, .arguments-preview{
  @include boushh-button();

  &.postfix,
  &.prefix{
    height:rem-calc($boushh-spacing*3);
  }

  &:hover{
    color:#fff;
  }

  em,
  span{
    color:color(70%);
    font-style: normal;
    font-weight:300;
  }

  &.expand{
    border-radius:0;
    padding:rem-calc($boushh-spacing $boushh-spacing*2);
    font-size:rem-calc(14);
    font-weight:400;
  }

  &.tiny{
    font-size:rem-calc(11);
    padding:rem-calc(5 6);
    font-weight:300;
    text-transform: uppercase;
  }

  &.small{
    font-size:rem-calc(12);
    padding:rem-calc(9 10);
    font-weight:300;
    text-transform: uppercase;
  }

  &.secondary{
    background:#8b99a4;
    text-shadow:0 1px 0 darken(#8b99a4, 10%);
    border-top:1px solid #abbccc;
    font-weight:400;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus{
      color:color(70%);
      background:#75818c;
    }
  }

  &.alert,
  &.error{
    background:$boushh-error;
    text-shadow:0 1px 0 darken($boushh-error, 10%);
    border-top:1px solid lighten($boushh-error, 10%);

    &:hover,
    &:active,
    &:focus{
      background:lighten($boushh-error, 15%);
    }
  }

  &.warning{
    background:$boushh-warning;
    text-shadow:0 1px 0 darken($boushh-warning, 10%);
    border-top:1px solid lighten($boushh-warning, 10%);
    color:#fff;

    &:hover,
    &:active,
    &:focus{
      background:lighten($boushh-warning, 15%);
    }
  }

  &.text{
    background:none;
    border:none;
    text-shadow:none;
    box-shadow: none;
    color:color(50) !important;
    padding-left:rem-calc($boushh-spacing/2);
    padding-right:rem-calc($boushh-spacing/2);

    &:hover,
    &:active,
    &:focus{
      color:color(70) !important;
    }
  }

  &.muted{
    background:none;
    border:none;
    padding:rem-calc(15 0 0);
    color:color(70%);
    line-height:rem-calc(12);
    font-weight:300;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus{
      background:none;
      color:$boushh-primary;
    }
  }
}

} // End .page
