body{
  font-family: $font_custom;
}

/**
 * Hide tooltips on small screens.
 */
@media #{$small-only} {
  .tooltip{
    display:none !important;
  }
}

.main-inner{
  background:#ffffff;
  border:1px solid #e9e9e9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin-top:rem-calc(10);
  margin-bottom:rem-calc(10);

  a{
    @include transition(all 0.2s ease-in-out 0s);
  }

  #page-title{
    font-size:rem-calc(15);
    font-family:$font_custom;
    margin:0;
    padding:rem-calc(15);
    text-transform: uppercase;
    font-weight:600;
    color:#767676;
    background:#fafafa;
    border-bottom:1px solid #e9e9e9;

    em{
      font-weight:400;
      font-style: normal;
    }

    i{
      font-weight:normal;
    }
  }

  .main-content{
    padding:rem-calc(15);

    table{
      width:100%;

      td.ctools-export-ui-operations{
        white-space: nowrap;

        ul.inline-list > li{
          display:inline-block;
          float:none;
        }
      }

      tr.odd,
      tr.even{
        @include transition(all 0.2s ease-in-out 0s);

        &:hover{
          background:#fffbe7;
          td{
            background:none;
          }
        }
      }

      tr.odd{
        background: $table-bg;
      }

      tr.odd{
        .active{
          background: scale-color($table-bg, $lightness: -2%);
        }
        &:hover{
          td.active{
            background: scale-color(#fffbe7, $lightness: -3%);
          }
        }
      }

      tr.even{
        .active{
          background: scale-color($table-even-row-bg, $lightness: -2%);
        }
        &:hover{
          td.active{
            background: scale-color(#fff7dc, $lightness: -2%);
          }
        }
      }

      // select,
      // input{
      //   width:auto;
      //   margin:0;
      // }

      ul.inline-list{
        margin:rem-calc(8 0);
        line-height: inherit;
        font-size: inherit;
      }
    }
  }
}

.description{
  font-size:rem-calc(11);
  color:scale-color($info-color, $lightness: -15%);
}

.breadcrumbs{
  margin:rem-calc(10 0 0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.action-links{
  list-style-type: none;
  margin:0;

  li{
    padding:rem-calc(0 5 0 0);
    display:inline-block;
  }
}

.row .admin-page{
  margin:rem-calc(0 0 -20);
}

.node-type-list,
.admin-list{
  margin-bottom:rem-calc(-20);

  .panel{
    margin:0;
    @include transition(all 0.2s ease-in-out 0s);

    &:hover{
      background:#fff;
    }
  }

  a{
    text-shadow: 0 -1px 0 #fff;
    background:#fafafa;
    border:1px solid #e9e9e9;
    padding: rem-calc(0 20 20);
    display:block;
    @include transition(all 0.2s ease-in-out 0s);
    overflow:hidden;

    &:hover{
      background:#fff;
      border-color:#fff;

      .icon{
        color:$primary-color;
      }
    }

    & > span{
      display:block;
    }
  }

  .icon{
    font-size:rem-calc(60);
    text-align: center;
    color:#404040;
    @include transition(all 0.2s ease-in-out 0s);

    span{
      display:none !important;
    }
  }

  .title{
    font-size:rem-calc(16);
    font-weight:600;
    color:#767676;
    text-align: center;
  }

  &.cols-2{
    .icon{
      font-size:rem-calc(40);
    }
    .title{
      font-size:rem-calc(12);
    }
  }
}

.exposed-filters{

  .additional-filters{
    font-weight:700;
  }

  .current-filters{
    color:$warning-color;
    font-size:rem-calc(13);
    list-style-type: none;

    li{
      display:inline;
      margin:0;
      padding:0;
    }
  }

  .additional-filters,
  .filters label{
    display:block;
    width:auto;
    color:#6e6e6e;
    text-transform: uppercase;
    line-height:rem-calc(36);
    padding-right:rem-calc(5);
    font-family:$font_custom;
    font-size:rem-calc(11);
  }

  .filters{
    width:auto;

    .form-item{
      display:inline-block;
      padding-right:rem-calc(10);
    }

    select,
    input{
      width:auto;
      margin:0;
    }
  }
}

.container-inline{
  @include clearfix();
  margin-bottom:rem-calc(20);

  > .fieldset-wrapper{
    padding-top:0;

    > *{
      float:left;
    }
  }


  > *{
    float:left;
  }

  *{
    margin:0;
    padding:0;
  }
}

.alert-box{
  margin:rem-calc(10 0 0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

  ul{
    margin:0;
    padding:0;

    li{
      font-size: 0.8125rem;
    }
  }

  &.success{
    border:1px solid #cee9c8;
    background:#efffea;
    color:#506152;
    a{
      color:#6f8c64;
    }
  }

  &.warning{
    border:1px solid #e9cdbb;
    background:#ffe9db;
    color:#615042;
    a{
      color:#8c5e40;
    }
  }

  &.alert{
    border:1px solid #e99c98;
    background:#ffbcbc;
    color:#613835;
    a{
      color:#8c5251;
    }
  }
}

.admin-list{
  dt{
    margin:0;
  }

  dd{
    font-size:rem-calc(12);
    color:#7f7f7f;
  }
}

.block-system-help{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin-top:rem-calc(10);
  padding:rem-calc(15);
  border:1px solid #e9e9cf;
  background:#fffbe7;

  p{
    font-size:rem-calc(12);
    color:#616059;
    margin-bottom:rem-calc(8);

    a{
      color:#8c7b5c;

      &:hover{
        color:#c29c36;
      }
    }
  }

  p:last-child{
    margin-bottom:0;
  }
}

#copyright{
  padding-bottom:rem-calc(10);

  small{
    font-family:$font_custom;
    font-weight:500;
    font-size:rem-calc(13);
    color:#bfbfbf;

    a{
      color:#0a96c3;
      font-weight:600;

      &:hover{
        color:#28b7e4;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// eXo
////////////////////////////////////////////////////////////////////////////////

html.exo-exists #exo-page{
  background: $body-bg;
}
