////////////////////////////////////////////////////////////////////////////////
//// Theme Settings
////////////////////////////////////////////////////////////////////////////////

body{

  h1 small{
    color:$boushh-primary;
  }

  #page{
    background-image: url("/sites/all/themes/boushh/assets/images/themeSettings-bg.jpg") !important;
  }

  #block-system-main{
    margin-top: 98px;
  }

  &.boushh{
    .main-content{
      background-image: url("/sites/all/themes/boushh/assets/images/themeSettings-bg.jpg") !important;
    }
  }
}

#system-theme-settings{

  #edit-fett-status,
  #edit-fett-icons{

    .fieldset-wrapper{
      padding:0;

      table.system-status-report tr td{
        color:#fff;
        text-shadow:none;
      }

      table.system-status-report tr.ok{
        background-color: #c7b79d;
        text-shadow: 0 1px 0 #e6d3b7;
      }

      table.system-status-report tr.info{
        background-color: #896d63;
        text-shadow: 0 1px 0 #b08c80;
      }

      table.system-status-report tr.warning{
        background-color: #f6ecb0;
        text-shadow: 0 1px 0 #fffdd3;
      }
    }
  }

  #boushh-theme-select{
    list-style: none;

    li{
      display:inline-block;
      margin:rem-calc(0 $boushh-spacing/2 $boushh-spacing/2 0);
      padding:0;

      a{
        color:#434343;
        display:block;
        padding:rem-calc(2 4);
        background: #fff;
        border:2px solid #fff;
        border-radius:3px;
        text-transform: uppercase;
        line-height:rem-calc(16);
        font-size:rem-calc(12);
        vertical-align: middle;

        &:hover,
        &.active{
          border:2px solid $boushh-primary;
        }
      }

      i{
        font-size:rem-calc(16);
      }
    }
  }
}
