.ctools-dropbutton{

  a{
    font-size:rem-calc(13);
  }

  &.open{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

    li + li{
      border:none;
    }
  }

  .ctools-content{
    border:none;
  }

  .ctools-link{
    border:none;
  }
}

.ctools-button{
  background-color:$secondary-color;
  border:none;

  a{
    color:#3f3f3f;
  }

  ul{
    margin:0;
  }
}

.ctools-content{
  ul.actions{
    margin:0;
  }
}

td.ctools-export-ui-operations .ctools-dropbutton{
  right: rem-calc(35);
}
