html.js .page{

////////////////////////////////////////////////////////////////////////////////
// Features
////////////////////////////////////////////////////////////////////////////////

  #features-admin-form{

    #edit-submit{
      @include boushh-button();
      width:100%;
      margin-bottom:rem-calc($boushh-spacing);
    }
  }

  #features-export-form{
    @include clearfix();

    #edit-submit{
      @include boushh-button();
      width:100%;
    }

    .features-export-list{
      border:none;
    }

    .form-checkbox{
      display:inline;
    }

    .form-type-checkbox,
    .form-checkboxes{
      box-shadow:none;
      background:none;
      padding:0;
    }

    .form-type-checkbox label.option{
      &:before{
        display:none;
      }
    }

    #features-filter{
      fieldset{
        @include boushh-outset();
        padding:rem-calc($boushh-spacing);
      }

      .form-item{
        box-shadow:none !important;
        margin:0;
      }

      .features-filter-clear{
        @include boushh-button();
      }
    }

    fieldset.collapsed{
      height:auto;
      min-height:rem-calc($boushh-spacing*3);
      @include boushh-outset();
    }

    .features-export-parent{
      margin-top:rem-calc($boushh-spacing);
    }
  }
}
