////////////////////////////////////////////////////////////////////////////////
// Forms
////////////////////////////////////////////////////////////////////////////////

form{

  table{
    button{
      margin:0;
    }
  }

  .field-inline{
    // input{
    //   width:auto;
    //   display:inline-block;
    // }

    .form-type-radio{
      display:inline-block;
      min-width:rem-calc(45);
      padding-right:0;

      label{
        margin:0;
      }
    }
  }

  .form-radios{
    input[type="checkbox"] + label,
    input[type="radio"] + label{
      margin-left:0;
    }
  }

  // .image-widget-data{
  //   float:none;

  //   input{
  //     float:left;
  //   }

  //   button{
  //     float:left;
  //   }
  // }

  .filter-wrapper{
    padding:0;
    font-size:rem-calc(12);

    .fieldset-wrapper{
      @include clearfix();
    }

    .form-item{
      margin:0;
      display:inline-block;
    }

    .filter-guidelines{
      display:inline-block;
      padding:rem-calc(30 0 0 10);

      .filter-tip{
        font-size:rem-calc(18);
      }
    }

    .filter-help a{
      display:block;
      font-size:rem-calc(11);
      line-height:rem-calc(14);
    }

    .form-item-body-format{
      margin:0;
    }

    .filter-list{
      margin:0;
    }
  }

  .exposed-filters{
    button{
      padding:rem-calc(8 14);
    }
  }

  .form-actions{
    margin-bottom:0;

    button{
      margin-bottom:0;
    }
  }

  $file-upload-color: #c0392b;
  $file-upload-size: 300px;

  .file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
    //border: 1px solid #ccc;
  }

  .form-managed-file{
    .image-widget-data{
      width:auto;
      float:none;
    }

    .form-type-textfield{
      @include clearfix();
      clear:both;
    }
  }

  .file-upload-input {
    // width: $file-upload-size;
    // color: #fff;
    // font-size: 16px;
    // padding: 11px 17px;
    // border: none;
    // background-color: $file-upload-color;
    // @include transition(all 0.2s ease-in);
    // float: left; /* IE 9 Fix */
    // &:hover, &:focus {
    //   background-color: darken($file-upload-color, 5);
    //   outline: none;
    // }
  }

  .file-upload-button {
    margin:0;
    // cursor: pointer;
    // display: inline-block;
    // color: #fff;
    // font-size: 16px;
    // text-transform: uppercase;
    // padding: 11px 20px;
    // border: none;
    // margin-left: -1px;
    // background-color: darken($file-upload-color, 10);
    // float: left; /* IE 9 Fix */
    // @include transition(all 0.2s ease-in);
    // &:hover {
    //   background-color: darken($file-upload-color, 20);
    // }
  }
}

div.fieldset-wrapper{
  padding: rem-calc(15 0);

  div.fieldset-description{
    font-size:rem-calc(14);
    color:#7f7f7f;
    padding-bottom:rem-calc(15);
  }

  div:first-child{
    margin-top:0;
  }

  div:last-child{
    margin-bottom:0;
  }
}

div.vertical-tabs{
  margin-left: 200px;
  border-color:#e9e9e9;

  ul.vertical-tabs-list{

    margin-left:-200px;
    width:200px;
    border-color:#e9e9e9;
    border-top:1px solid #e9e9e9;

    li{
      @include background(linear-gradient(to right, #fff, #efefef));
      @include transition(all 0.3s ease-in-out 0s);
      // border:none;
      border-color: #e9e9e9;
      // border-right:1px solid #e9e9e9;
      box-shadow: inset -4px 0 8px -8px rgba(0, 0, 0, 0.75);

      &:hover{
        @include background(linear-gradient(to right, #fff, #d9d9d9));
        box-shadow: inset -6px 2px 8px -8px rgba(0, 0, 0, 0.75);
        // box-shadow:none;
      }

      a{
        color:#7f7f7f;
        line-height:rem-calc(20);
        text-shadow: 0 1px 0 #fff;

        &:focus{
          outline: none;
        }

        &:hover{
          outline: none;
          strong{
            text-decoration: none;
          }
        }

        span.summary{
          font-size:rem-calc(12);
          color:#979797;
        }
      }

      &.selected{
        box-shadow:none;
        background:#fff;

        &:hover{
          background:#fff;
          strong{
            text-decoration: none;
          }
        }

        a{
          span.summary{
            color:#7f7f7f;
          }
        }
      }
    }
  }

  .token-dialog{
    margin:rem-calc(0 15);
    padding:rem-calc(0 0 15);
    display:inline-block;
  }
}
