////////////////////////////////////////////////////////////////////////////////
// Mixins
////////////////////////////////////////////////////////////////////////////////

@mixin form-inset() {
  background: $bdf-secondary-bg;
  @include box-shadow(inset 1px 1px 4px 0px $bdf-shadow);
}

@mixin form-outset() {
  background:$bdf-primary-bg;
  @include box-shadow(1px 1px 4px $bdf-shadow);
}

@mixin form-reset() {
  background:none;
  @include box-shadow(none);
  padding:0;
  margin:0;
}

@mixin form-button() {
  margin:0;
  border-radius:rem-calc(3);
  background:$bdf-primary-color;
  color:$bdf-text-color;
  padding:rem-calc($bdf-spacing*.85 $bdf-spacing*2);
  font-size:rem-calc(16);
  line-height:rem-calc(16);
  font-weight:500;
  @include box-shadow(0px 0px 4px $bdf-shadow);
  @include transition(all 0.75s);
  border:none;
  border-top:1px solid #28b7e5;
  margin:rem-calc(0 $bdf-spacing/2 0 0);
}

////////////////////////////////////////////////////////////////////////////////
// Elements outside of .page
////////////////////////////////////////////////////////////////////////////////

.boushh-dark{

  #quickbar-top-bar{
    background:$bdf-primary-bg;

    .top-bar-section li a:not(.button){
      background:$bdf-primary-bg;
    }

    .top-bar-section li a:hover:not(.button){
      background:$bdf-secondary-bg;
    }
  }

  .tooltip{
    @include box-shadow(0 0 6px rgba(0,0,0,0.15));
  }
}

.boushh-dark .page{

////////////////////////////////////////////////////////////////////////////////
// Form
////////////////////////////////////////////////////////////////////////////////

form,
table{

  a,
  input{
    @include transition(all 0.2s ease-in-out 0s);
  }

  a{
    color:$bdf-primary-color;

    &:hover{
      color:lighten($bdf-primary-color, 20%);
    }
  }

  label{
    font-weight:700;
    font-size:rem-calc(15);
    line-height:rem-calc(15);
    padding-bottom:rem-calc(5);
    display:block;
    color:$bdf-text-color;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000;

    strong{
      color:$bdf-text-color;
    }
  }

  label.option{
    font-weight:300;
    font-size:rem-calc(13);
    line-height:rem-calc(13);
    padding-bottom:0;
    display:inline;
    color:#e6e6e6;
    text-transform: none;
    text-shadow: 0 1px 0 #000;
  }

  .description{
    color:$bdf-primary-color;
    font-size:rem-calc(11);
    text-shadow: 0 1px 0 #000;
    padding:rem-calc(6 0 0);
  }

  h1,h2,h3{
    color:$bdf-text-color;
  }

  h2{
    margin:0;
    padding:0;
  }

  .machine-name-value{
    font-size:rem-calc(14);
  }

  .form-disabled{

    & *{
      opacity:.5;
    }
  }

  .admin-link{
    font-size:rem-calc(14);

    a{
      display:inline-block;
      width:rem-calc(20);
      height:rem-calc(16);
      overflow:hidden;

      &:before{
        font-family: "FontAwesome";
        content: "\f044";
        padding:rem-calc(0 4);
      }
    }
  }

  .ajax-progress-throbber{
    border-radius:0;
  }

  .token-dialog{
    @include form-button();
    font-size:rem-calc(12);
    padding:rem-calc(5 6);
    margin:rem-calc(0 0 $bdf-spacing);
    font-weight:300;
    text-transform: uppercase;
  }

  code{
    color:$bdf-description-color;
  }

  .admin-requirements{
    color:#e6e6e6;

    .admin-disabled{
      color:#f07148;
      text-transform: uppercase;
    }

    .admin-enabled{
      color:#43AC6A;
      text-transform: uppercase;
    }
  }
}

form{
  background:$bdf-primary-bg;
  padding:rem-calc($bdf-spacing $bdf-spacing 0);
  border:2px solid #DDDDDD;
  color:#f5f5f5;
  position: relative;

  .form-required{
    color:#F08A24;
  }

  .alert-box{
    margin:rem-calc(0 0 $bdf-spacing);

    &.warning{
      background:#F08A24;
      border-color:#DE770F;
      color:$bdf-text-color;
    }
  }

  .warning{
    color:$bdf-description-color;
  }

  > div{
    margin:rem-calc(0 0 $bdf-spacing);
  }

  > div > .form-item.form-type-checkbox{
    @include form-inset();
    padding:rem-calc($bdf-spacing);
    margin:rem-calc(0 0 $bdf-spacing);
  }

  // > div > div > table{
  //   @include form-inset();
  //   padding:rem-calc($bdf-spacing);
  // }
}

////////////////////////////////////////////////////////////////////////////////
// Field UI
////////////////////////////////////////////////////////////////////////////////

#field-display-overview-wrapper{
  position: relative;
  @include form-inset();
  padding:rem-calc($bdf-spacing $bdf-spacing 1px);
}

////////////////////////////////////////////////////////////////////////////////
// Table
////////////////////////////////////////////////////////////////////////////////

table{
  width:100%;
  margin:rem-calc(0 0 $bdf-spacing);
  background:$bdf-secondary-bg;
  border:none;
  color:#f3f3f3;
  border: 1px solid darken($bdf-secondary-bg, 5%);
  @include box-shadow(1px 1px 4px $bdf-shadow);

  div.indentation{
    // background:$bdf-primary-color;
    line-height:rem-calc($bdf-spacing*1);

    &:before{
      color:rgba($bdf-text-color, .3);
      font-family: "FontAwesome";
      content: "\f178";
    }
  }

  .item-list ul{
    margin:0;
    li{
      font-size:rem-calc(13);
      margin-bottom:0;
    }
  }

  // If draggable table has only 1 row
  &.tabledrag-processed .draggable:only-child{
    .ief-tabledrag-handle{
      visibility:hidden;
      overflow:hidden;
      padding:0;

      > *{
        display:none;
      }
    }
  }

  img{
    border:4px solid darken($bdf-secondary-bg, 5%);
    @include box-shadow(none);

    &.file-icon{
      border:none;
    }
  }

  thead{
    background:darken($bdf-secondary-bg, 5%);

    tr{
      th{
        border:none;
        font-weight:300;
        font-size:rem-calc(11);
        color:#d3d3d3;
        text-transform: uppercase;

        a{
          img{
            margin-left:rem-calc(5);
          }
        }
      }
    }
  }

  tbody{
    background:#3b4043;
    border:none;

    th{
      border:none;
    }

    tr{
      background:$bdf-primary-bg;
      border:none;

      td.active{
        background:darken($bdf-primary-bg, 3%);

        &:hover{
          background: darken($bdf-primary-bg, 3%);
        }
      }

      &:hover{
        background:$bdf-primary-bg;
      }

      td{
        color:$bdf-text-color;
        border:none;
        padding:rem-calc($bdf-spacing);

        > .form-item{
          @include form-reset();
        }

        > .form-wrapper{
          margin:0;
        }

        > div.form-item,
        .label-input > div.form-item{
          @include form-reset();

          > .description{
            padding:0;
          }
        }

        > div > input[type="file"], input[type="checkbox"], input[type="radio"], select{
          margin:0;
        }
      }
    }

    tr.even{

      &:hover{
        box-shadow:0 0 4px $bdf-primary-color;
      }
    }

    tr.odd{
      background:darken($bdf-primary-bg, 3%);

      td.active{
        background:darken($bdf-primary-bg, 5%);
      }

      &:hover{
        background:darken($bdf-primary-bg, 3%);
        box-shadow:0 0 4px $bdf-primary-color;
      }
    }

    tr.selected{
      border-left:5px solid $bdf-primary-color;

      td,
      td:hover{
        background:none;
      }
    }

    tr.ok{
      background:darken($bdf-success-color, 20%);
      border-bottom:1px solid darken($bdf-success-color, 24%);

      a{
        color: lighten($bdf-success-color, 10%);
      }
    }

    tr.info{
      background:darken($bdf-info-color, 20%);
      border-bottom:1px solid darken($bdf-info-color, 24%);

      a{
        color: lighten($bdf-info-color, 10%);
      }
    }

    tr.error{
      background:darken($bdf-error-color, 20%);
      border-bottom:1px solid darken($bdf-error-color, 24%);

      a{
        color: lighten($bdf-error-color, 10%);
      }
    }

    tr.warning{
      background:darken($bdf-warning-color, 20%);
      border-bottom:1px solid darken($bdf-warning-color, 24%);

      a{
        color: lighten($bdf-warning-color, 10%);
      }
    }

    // tr:nth-of-type(2n){
    //   background:$bdf-primary-bg;
    // }
  }
}

.tabledrag-toggle-weight-wrapper{
  position:absolute;
  top:rem-calc($bdf-spacing*1.2);
  right:rem-calc($bdf-spacing);
}

a.tabledrag-toggle-weight{
  color:#7f7f7f;
  font-size:rem-calc(11);
  text-transform: uppercase;
  display:block;
  text-align: right;
  width:rem-calc(20);
  height:rem-calc(20);
  overflow:hidden;

  &:before{
    color:rgba($bdf-text-color, .7);
    font-family: "FontAwesome";
    font-size:rem-calc(20);
    content: "\f0dc";
    padding-right:rem-calc($bdf-spacing);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Fieldset
////////////////////////////////////////////////////////////////////////////////

div.form-wrapper{
  margin:rem-calc(0 0 $bdf-spacing);
}

fieldset{
  background:red;
  position:relative;
  border:none;
  padding:rem-calc($bdf-spacing*2.5 $bdf-spacing 0);
  margin:rem-calc($bdf-spacing 0);
  @include form-inset();

  &.form-wrapper-nolegend{
    padding:rem-calc($bdf-spacing $bdf-spacing 0);
  }

  &:first-child{
    margin-top:0;
  }

  &:last-child{
    margin-bottom:0;
  }

  // Handle nested fieldsets
  fieldset:first-child{
    margin-top:0;
  }

  // > .fieldset-wrapper > .form-item{
  //   @include form-reset();
  //   padding: rem-calc(0 0 $bdf-spacing);

  //   &:last-child{
  //     padding-bottom:0;
  //   }
  // }

  // > .fieldset-wrapper > .form-item,
  // .fieldset-wrapper > .form-wrapper > .form-item,
  // .fieldset-wrapper > div > .form-item{
  //   @include form-reset();
  //   @include form-outset();
  //   padding:rem-calc($bdf-spacing);
  //   margin: rem-calc(0 0 $bdf-spacing);


  // }

  > .fieldset-wrapper > .form-item,
  > .fieldset-wrapper > .form-wrapper > .form-item,
  > .fieldset-wrapper > fieldset > .fieldset-wrapper  > fieldset > .fieldset-wrapper > .form-item{
    @include form-reset();
    @include form-outset();
    padding:rem-calc($bdf-spacing);
    margin: rem-calc(0 0 $bdf-spacing);
  }

  &.vertical-tabs-pane > .fieldset-wrapper > .form-wrapper > .form-item,
  > .fieldset-wrapper > fieldset > .fieldset-wrapper > .form-item{
    @include form-reset();
    @include form-inset();
    padding:rem-calc($bdf-spacing);
    margin: rem-calc(0 0 $bdf-spacing);
  }

  > .fieldset-wrapper > fieldset{
    @include form-outset();
  }

  > .fieldset-wrapper > fieldset > .fieldset-wrapper > fieldset{
    @include form-inset();
    // background:red !important;
  }



  // > div > .form-wrapper > .fieldset-wrapper > .form-wrapper{
  //   @include form-outset();
  // }

  // > div > fieldset > .fieldset-wrapper > .form-wrapper > .form-item,
  // > div > fieldset > .fieldset-wrapper > div > .form-item{
  //   @include form-reset();
  //   @include form-outset();
  //   padding:rem-calc($bdf-spacing);
  //   margin: rem-calc(0 0 $bdf-spacing);
  // }

  // // Instance edit form
  // &#edit-instance > .fieldset-wrapper > .form-item{
  //   @include form-outset();
  //   padding:rem-calc($bdf-spacing);
  //   margin: rem-calc(0 0 $bdf-spacing);

  //   // .form-item{
  //   //   @include form-reset();
  //   // }
  // }

  .fieldset-description,
  .fieldset-wrapper > .description{
    text-shadow: 0 1px 0 black;
    font-weight:100;
    color:$bdf-description-color;
    font-size:rem-calc(15);
    padding:rem-calc(0 0 $bdf-spacing 0);

    p:last-child{
      font-weight:100;
      font-size:rem-calc(15);
      margin-bottom:0;
    }
  }

  > legend{
    background:none;
    margin:0;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding:rem-calc($bdf-spacing $bdf-spacing 0);

    .fieldset-legend,
    a{
      font-weight:700;
      font-size:rem-calc(15);
      color:$bdf-text-color;
      text-transform: uppercase;
    }

    a{
      color:$bdf-primary-color;

      &:hover{
        color:#28b7e5;
      }
    }

    .summary{
      font-size:rem-calc(11);
      line-height:rem-calc(13);
      font-weight:300;
    }
  }

  > .fieldset-wrapper{
    margin:rem-calc( 0 0 $bdf-spacing);
    padding:0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Filters
////////////////////////////////////////////////////////////////////////////////

.exposed-filters{
  div.filters{
    @include form-reset();

    > .form-item{
      display:block;
      float:left;
      @include form-reset();
      margin:rem-calc(0 $bdf-spacing 0 0);

      label{
        font-size:rem-calc(12);
        font-weight:300;
      }
    }
  }

  .form-actions{
    @include form-reset();
    padding:rem-calc($bdf-spacing 0 0);
  }
}

.view-filters{
  margin-bottom:rem-calc($bdf-spacing);
}

.views-exposed-form{
  border:none;
  @include form-inset();
  padding:rem-calc($bdf-spacing);

  .views-exposed-widgets{
    margin:0;

    &:before{
      color:rgba($bdf-text-color, .3);
      font-family: "FontAwesome";
      font-size:rem-calc(70);
      content: "\f002";
      float:left;
      padding-right:rem-calc($bdf-spacing);
    }
  }

  .views-exposed-widget{
    margin:rem-calc(0 $bdf-spacing 0 0);
    padding:0;
  }

  label{
    color:$bdf-text-color;
    font-size:rem-calc(12);
    font-weight:300;
  }

  .views-widget .form-item{
    @include form-reset();
  }

  .views-submit-button,
  .views-reset-button{
    padding:rem-calc($bdf-spacing 0 0);

    button.tiny:not(.ui-button){
      @include form-button();
    }
  }
}

#ctools-export-ui-list-form{
  .ctools-export-ui-row{
    @include form-inset();
    padding:rem-calc($bdf-spacing);
    margin:rem-calc(0 0 $bdf-spacing);

    > .form-item{
      @include form-reset();
      margin-right:rem-calc($bdf-spacing);

      label{
        color:$bdf-text-color;
        font-size:rem-calc(12);
        font-weight:300;
      }
    }

    > .form-submit{
      @include form-button();
      margin:rem-calc($bdf-spacing $bdf-spacing 0 0);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Ctools
////////////////////////////////////////////////////////////////////////////////

#ctools-export-ui-edit-item-form{
  > div > fieldset{
    // override for context. may conflict.
    padding-top: rem-calc($bdf-spacing);
  }
}

table tbody tr.ctools-export-ui-disabled,
table tbody tr.ctools-export-ui-disabled:hover{
  // opacity:.2;
  background:darken($bdf-primary-bg, 10%);

  &.even{
    background:darken($bdf-primary-bg, 12%);
  }

  td{
    color: darken($bdf-text-color, 40%);
  }
}

.ctools-dropbutton,
.ctools-button{
  @include form-button();
  font-size:rem-calc(12);
  padding:rem-calc(5 6);
  font-weight:300;

  a{
    color:$bdf-text-color;
  }

  li a,
  li input{
    display:block;
    font-size:rem-calc(13);
    padding:rem-calc(0 10);
  }
}

.ctools-dropbutton{
  padding:rem-calc(5 17 5 6);
}

.ctools-collapsible-container{

  .ctools-toggle{
    margin-top:10px;
  }

  .ctools-toggle-collapsed{
    margin-top:8px;
  }

  .ctools-collapsible-handle{
    border:none;
    padding:rem-calc(0 0 $bdf-spacing/2);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Context
////////////////////////////////////////////////////////////////////////////////

.context-plugins{
  @include form-inset();
  padding:rem-calc($bdf-spacing);
  margin: rem-calc($bdf-spacing 0);

  .context-plugin-info{
    padding:0;
    border:none;

    .form-item{
      @include form-reset();
    }
  }

  .context-plugin-list{
    @include form-outset();
    margin:rem-calc($bdf-spacing 0 0);

    li{

      a{
        background:$bdf-primary-bg;
        border:none;
        color:$bdf-primary-color;

        &.active-form{
          color:lighten($bdf-primary-color, 15%);
        }
      }

      &:nth-of-type(2n){
        a{
          background: red;
        }
      }
    }
  }

  .context-plugin-selector{
    background:none;
    padding:rem-calc(0 $bdf-spacing 0 0);
  }

  .context-plugin-forms{
    @include form-outset();
  }
}

////////////////////////////////////////////////////////////////////////////////
// Views
////////////////////////////////////////////////////////////////////////////////

h1.unit-title{
  font-size:rem-calc(40);
  font-weight:100;
}

.views-displays{
  @include form-inset();
  padding:rem-calc($bdf-spacing $bdf-spacing 1px);
  border:none;

  h3{
    padding:0;
  }
}

.views-display-top{
  background:none;
  border:none;
  padding:0;
  margin:rem-calc(0 0 $bdf-spacing);
}

.views-ui-display-tab-bucket .ctools-button-processed{
  top:rem-calc($bdf-spacing);

  input{
    padding:rem-calc(0 10);
    display:block;

    &:hover{
      color:lighten($bdf-primary-color, 20%);
    }
  }
}

#edit-display-settings{
  margin:rem-calc(0 0 $bdf-spacing);
}

#edit-display-settings-content{
  margin:0;
}

ul#views-display-menu-tabs{
  margin-right:0;
}

#edit-display-settings-top{
  @include form-reset();
  margin:0;

  .views-ui-display-tab-setting{
    background:none;
  }

  .ctools-button{
    top:-10px;
    right:0;
    margin:0;
  }
}

#edit-display-settings-main{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(top);
  margin:0;
}

#views-tab-block{
  margin:0;
}

.views-display-columns > div.form-wrapper{
  @include flex(auto);
  @include form-outset();
  padding:rem-calc($bdf-spacing $bdf-spacing 0);
  float:none;
  width:auto;
  margin:rem-calc(0 $bdf-spacing/2);

  &:first-child{
    margin-left:0;
  }

  &:last-child{
    margin-right:0;
  }
}

.views-ui-display-tab-bucket{
  border:none;
  @include form-inset();
  padding:rem-calc($bdf-spacing);
  margin:rem-calc(0 0 $bdf-spacing);

  .views-display-setting{
    margin:rem-calc(0 $bdf-spacing*-1);
    padding:rem-calc($bdf-spacing*.25 $bdf-spacing);
  }

  .odd{
    background:darken($bdf-secondary-bg, 2%);
  }

  .even{
    background:darken($bdf-secondary-bg, 1%);
  }
}

#views-preview-wrapper{
  margin:rem-calc($bdf-spacing 0 0);
  padding:0;
  border:none;
}

#views-ui-preview-form{
  margin:0;

  .form-item{
    @include form-reset();
    margin:rem-calc(0 0 $bdf-spacing);
  }
}

.views-display-top{
  .ctools-button-processed{
    right:0;
    margin:0;
  }

  .add{
    > a{
      @include form-button();
      font-size:rem-calc(12);
      padding:rem-calc(5 12 5 6);
      font-weight:300;

      &:hover{
        color:lighten($bdf-primary-color, 20%);
      }

      .icon.add{
        background-position: center -25px;
      }
    }
  }
}

.views-displays .secondary .action-list{
  top:rem-calc($bdf-spacing*1.4);

  li{
    background:$bdf-primary-color;
    border:none;
    font-size:rem-calc(12);

    input{
      &:hover{
        color:lighten($bdf-primary-color, 20%);
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Container Inline
////////////////////////////////////////////////////////////////////////////////

.container-inline{
  .fieldset-wrapper > .form-item{
    display:inline-block;
    @include form-reset();
    margin:rem-calc(0 $bdf-spacing 0 0);
  }

  button.tiny:not(.ui-button){
    @include form-button();

    &.tiny{
      font-size:rem-calc(12);
      padding:rem-calc(5 6);
      font-weight:300;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Form Item
////////////////////////////////////////////////////////////////////////////////

.form-item{
  @include form-inset();
  padding:rem-calc($bdf-spacing);
  margin:rem-calc(0 0 $bdf-spacing);
  display:block;

  &.form-type-checkbox{
    @include form-reset();
    padding:rem-calc(2 0);
  }

  &.form-type-radio{
    background:none !important;
    @include box-shadow(none !important);
    margin:0 !important;
    padding:rem-calc(2 0) !important;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Inline Entity Table
////////////////////////////////////////////////////////////////////////////////

table.ief-entity-table{

  tr.ief-row-entity:not(.draggable){
    display:none;
  }

  .ief-form.ief-form-row{
    border:none;
    padding:rem-calc($bdf-spacing $bdf-spacing 0);

    // > .form-item,
    // .form-wrapper{
    //   margin:rem-calc(0 0 $bdf-spacing);
    // }

    .form-item .form-item{
      @include form-reset();
      padding:rem-calc($bdf-spacing 0 0);
    }
  }

  tr.ief-row-form{

    &:hover{
      @include box-shadow(none);
    }

    > td{
      padding:0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Vertical Tabs
////////////////////////////////////////////////////////////////////////////////

div.vertical-tabs{
  border:none;
  margin:rem-calc($bdf-spacing 0);
  padding:rem-calc(0 0 0 290);
  @include form-inset();

  ul.vertical-tabs-list{
    border:none;
    position: relative;
    z-index:1;
    margin:rem-calc(0 0 0 -290);
    width: rem-calc(300);

    > li{
      border:none;
      background:none;
      @include box-shadow(none);

      &:hover{
        @include background(linear-gradient(to right, darken($bdf-secondary-bg, 6%), rgba($bdf-secondary-bg, 0)));
        @include box-shadow(none);
      }

      a{
        text-shadow: 0 1px 0 $bdf-shadow;
        text-decoration: none;
        color:$bdf-text-color;
        padding:rem-calc($bdf-spacing);
      }

      &.selected{
        @include background(linear-gradient(to right, $bdf-primary-bg, rgba($bdf-secondary-bg, 0)));
        @include box-shadow(0 1px 0 rgba(#000, .1));

        a{
          strong{
            color:$bdf-primary-color;
            text-decoration: none;
          }

          .summary{
            color:$bdf-text-color;
          }
        }

        &:hover{
          @include background(linear-gradient(to right, $bdf-primary-bg, rgba($bdf-secondary-bg, 0)));
        }
      }
    }
  }

  div.vertical-tabs-panes{
    padding:rem-calc($bdf-spacing $bdf-spacing 0);
    margin:rem-calc($bdf-spacing);
    @include form-outset();

    fieldset.vertical-tabs-pane{
      background:none;
      @include box-shadow(none);
      padding:0;

      > .fieldset-wrapper{
        padding:0;
      }

      > .fieldset-wrapper > .form-item{
        @include form-reset();
        @include form-inset();
        padding:rem-calc($bdf-spacing);
        margin: rem-calc(0 0 $bdf-spacing);
      }

      // .form-wrapper:last-child,
      // .form-wrapper:last-child .form-item{
      //   margin-bottom:0;
      // }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Elements
////////////////////////////////////////////////////////////////////////////////

.form-item{
}

.resizable-textarea{
  .grippie{
    background-color:darken($bdf-secondary-bg, 5%);
    border-color:darken($bdf-secondary-bg, 8%);
  }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
  background:darken($bdf-secondary-bg, 5%);
  color:$bdf-text-color;
  border-color:$bdf-primary-bg;
  height:rem-calc($bdf-spacing*3);
  padding:rem-calc(0 $bdf-spacing);
  margin:0;

  &:disabled{
    color:rgba($bdf-text-color, .5);
  }

  &:focus{
    background:darken($bdf-secondary-bg, 5%);
    border-color:$bdf-primary-color;
    @include box-shadow(0 0 5px $bdf-primary-color);
  }
}

.form-type-password-confirm{
  @include clearfix();

  .form-item-pass-pass1,
  .form-item-pass-pass2{
    @include form-reset();
    display:inline-block;
    width:30%;
    margin:rem-calc(0 $bdf-spacing 0 0);
    position: relative;
  }

  div.password-suggestions{
    @include form-outset();
    border:none;
    padding:rem-calc($bdf-spacing);

    ul{
      margin-top:rem-calc(5);
    }

    li{
      font-size:rem-calc(14);
      color:$bdf-description-color;
    }
  }

  div.password-strength,
  div.password-confirm{
    position:absolute;
    top:rem-calc(-10);
    right:0;
    margin:0;
    text-align:right;

    .password-strength-text{
      padding-left:rem-calc(4);
    }

    span{
      display:inline-block;
      color:$bdf-text-color;
      padding:rem-calc(4 12);
      font-size:rem-calc(13);
      margin:0;
      width:rem-calc(50);
      text-align: center;
      text-transform: uppercase;

      &.error{
        background:#F04124;
      }

      &.ok{
        background:#43AC6A;
      }
    }
  }
}

span.prefix, label.prefix,
span.postfix, label.postfix{
  background:darken($bdf-secondary-bg, 5%);
  border-color:$bdf-primary-bg;
  height:rem-calc($bdf-spacing*3);
  line-height:rem-calc($bdf-spacing*3);
  color:#bfbfbf;
  margin:0;
  display:inline-block;
}

.text-format-wrapper{

  > .form-item{
    margin-bottom:0;
  }

  &:hover{
    fieldset.filter-wrapper{
      max-height:rem-calc(300);
      @include transition(max-height 300ms 1000ms);
    }
  }

  fieldset.filter-wrapper{
    border:none;
    margin:rem-calc(2 0 0);
    // padding-top: rem-calc($bdf-spacing);
    padding:0;
    max-height:0;
    overflow:hidden;
    @include transition(max-height 300ms 300ms);

    label{
      font-size:rem-calc(12);
      font-weight:300;
    }

    .filter-help{
      padding:rem-calc($bdf-spacing 0);

      a{
        background:none;
        padding:0;

        &:after{
          color:rgba($bdf-text-color, .3);
          font-family: "FontAwesome";
          content: " \f059";
        }
      }
    }

    .boushh-select-wrapper,
    .boushh-select{
      height:rem-calc($bdf-spacing*2);

      &:before,
      &:after{
        top: rem-calc($bdf-spacing/1.5);
      }
    }

    .filter-guidelines{
      padding:rem-calc($bdf-spacing*1.5 0 0 10);
    }

    .fieldset-wrapper{
      @include form-reset();
      padding:rem-calc($bdf-spacing $bdf-spacing 0);
    }

    .form-item{
      @include form-reset();
    }
  }
}

.boushh-select-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height:rem-calc($bdf-spacing*3);
  width:100%;
  background: darken($bdf-secondary-bg, 5%);
  border: 1px solid;
  border-color: $bdf-primary-bg;

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 8;
    top: rem-calc($bdf-spacing);
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #aaa transparent;
    pointer-events: none;
  }

  &:before {
    border-bottom-style: solid;
    border-top: none;
  }

  &:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }
}

.boushh-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: rem-calc(6 8 6 10);
  height:rem-calc($bdf-spacing*3);
  line-height: 14px;
  font-size: 12px;
  color: $bdf-text-color;
  text-shadow: 0 1px black;
  background:darken($bdf-secondary-bg, 5%) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none !important;

  &:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 $bdf-text-color !important;
    background-image: none !important;
    border:0;
  }

  &:focus {
    z-index: 3;
    width: 100%;
    color: $bdf-text-color;
    outline:none;
    // outline: 2px solid #49aff2;
    // outline: 2px solid -webkit-focus-ring-color;
    // outline-offset: -2px;
  }

  > option {
    padding: 6px 8px;
    text-shadow: 0 1px rgba(white, .4);
    color:darken($bdf-secondary-bg, 5%) !important;
    background: #b3b3b3;
    cursor: pointer;
  }
}

.boushh-select-multiple{
  height:auto;

  &:before,
  &:after{
    display:none;
  }

  .boushh-select{
    height:auto;

    > option{
      padding: 2px 8px;
      background: darken($bdf-secondary-bg, 5%);
      color:$bdf-text-color !important;
      text-shadow: 0 1px rgba(black, .4);
    }
  }
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 {
  .dropdown { z-index: 1; }
  .boushh-select { z-index: -1; }
  .boushh-select:focus { z-index: 3; }
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  select.boushh-select, select.boushh-select:-moz-focusring, select.boushh-select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 $bdf-text-color !important;
    background-image: none !important;
    border:0;
    padding-left: 6px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Checkboxes & Radios
////////////////////////////////////////////////////////////////////////////////

.form-item.form-type-checkbox,
.form-item.form-type-radio {
  // text-indent: rem-calc(25);
  white-space: nowrap;
  // width: 20px;
  // height:rem-calc(20);
  position: relative;

  label.option{
    cursor: pointer;
    position: relative;

    &:before {
      font-family: "FontAwesome";
      content: "\f00c";
      color:rgba($bdf-text-color, 0);
      font-size:rem-calc(12);
      line-height:rem-calc(12);
      background:$bdf-primary-color;
      padding:rem-calc(2 3);
      margin:rem-calc(0 8 0 0);
      border-top:1px solid lighten($bdf-primary-color, 15%);
      text-shadow: none;
      opacity: .6;
      @include transition(all 300ms);
    }
    &:hover::before {
      color:rgba($bdf-text-color, 0.5);
    }
  }

  input[type=checkbox],
  input[type=radio] {
    visibility:hidden;
    display:none;

    &:checked + label:before {
      color:rgba($bdf-text-color, 1);
      opacity: 1;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////////////////////////////////////

button:not(.ui-button), button.button, a.button,
#linkit-cancel, .arguments-preview{
  @include form-button();

  &.file-upload-button{
    height:rem-calc($bdf-spacing*3);
  }

  em,
  span{
    color:$bdf-text-color;
    font-style: normal;
    font-weight:300;
  }

  &:hover,
  &:active,
  &:focus{
    background:#28b7e5;
  }

  &.expand{
    border-radius:0;
    padding:rem-calc($bdf-spacing $bdf-spacing*2);
    font-size:rem-calc(14);
    font-weight:400;
  }

  &.tiny{
    font-size:rem-calc(11);
    padding:rem-calc(5 6);
    font-weight:300;
    text-transform: uppercase;
  }

  &.secondary{
    background:#8b99a4;
    border-top:1px solid #abbccc;
    font-weight:400;
    @include box-shadow(none);

    &:hover{
      color:$bdf-text-color;
      background:#75818c;
    }
  }

  &.muted{
    background:none;
    border:none;
    padding:rem-calc(15 0 0);
    color:$bdf-text-color;
    line-height:rem-calc(12);
    font-weight:300;
    @include box-shadow(none);

    &:hover,
    &:active,
    &:focus{
      background:none;
      color:$bdf-primary-color;
    }
  }
}


} // End .boushh-dark
