.page{

////////////////////////////////////////////////////////////////////////////////
// Form
////////////////////////////////////////////////////////////////////////////////

form{
  @include boushh-outset();
  box-shadow: none;
  padding: rem-calc($boushh-spacing $boushh-spacing .1);
  // margin: rem-calc(0 0 $boushh-spacing);
  margin: rem-calc(0);
  // border:2px solid #DDDDDD;
  color: color(80%);
  position: relative;

  form{
    @include boushh-reset();
    border:none;
    padding:0;
    margin:0;
  }

  .form-required{
    color:$boushh-secondary;
  }

  .form-disabled{
    & *{
      opacity:.5;
    }
  }

  > div > *:last-child{
    margin-bottom:rem-calc($boushh-spacing);
  }

  > div > .form-item.form-type-checkbox,
  > div > .form-item.form-type-radio{
    margin-bottom:rem-calc($boushh-spacing);
  }

  > div > button{
    margin-bottom:rem-calc($boushh-spacing);
  }

  > div > button:not(.ui-button),
  > div > button.tiny:not(.ui-button){
    @include boushh-button();
    margin-bottom:rem-calc($boushh-spacing);
  }

  .machine-name-label,
  .machine-name-value{
    font-size:rem-calc(13);
    line-height:rem-calc(13);
    text-transform: uppercase;
  }

  .machine-name-label{
    font-weight:200;
  }

  .machine-name-value{
    color: $boushh-secondary;
  }

  .image-widget{

    .image-preview{

      img{
        border:4px solid darken($boushh-bg-alt, 5%);
      }
    }

    .image-widget-data{
      float:none;
      // display:inline-block;
      // width:100%;

      > .form-item{
        @include boushh-reset();
        padding:rem-calc($boushh-spacing 0 0);
        margin:0;
      }
    }
  }

  .fieldset-wrapper > .form-wrapper > div > div > .form-item .image-widget-data{
    float:left;
  }

  .form-item-data-icon{
    .form-item.form-type-radio{
      width:rem-calc(60);

      .fa{
        font-size:rem-calc(16);
        text-shadow:none;
        color:color(100);
      }
    }
  }

  .admin-link{
    font-size:rem-calc(14);

    a{
      display:inline-block;
      width:rem-calc(20);
      height:rem-calc(13);
      font-size:rem-calc(13);
      line-height:rem-calc(14);
      overflow:hidden;

      &:before{
        font-family: "FontAwesome";
        content: "\f044";
        padding:rem-calc(0 4);
      }
    }
  }

  .token-dialog{
    @include boushh-button();
    font-size:rem-calc(12);
    padding:rem-calc(5 6);
    margin:rem-calc(0 0 $boushh-spacing);
    font-weight:300;
    text-transform: uppercase;
    display:inline-block;
  }

  code{
    color:$secondary-color;
    background:color(5%);
    border:color(10%);
  }

  p{
    color:color(60%);
    font-size:rem-calc(14);
  }

  .admin-requirements{
    color:color(60%);

    .admin-disabled{
      color:$boushh-warning;
      text-transform: uppercase;
    }

    .admin-enabled{
      color:$boushh-success;
      text-transform: uppercase;
    }

    .admin-missing{
      color:$boushh-error;
      text-transform: uppercase;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Field UI
////////////////////////////////////////////////////////////////////////////////

#field-display-overview-wrapper{
  @include boushh-inset();
  position: relative;
  padding:rem-calc($boushh-spacing $boushh-spacing 1px);
}

////////////////////////////////////////////////////////////////////////////////
// Fieldset
////////////////////////////////////////////////////////////////////////////////

div.form-wrapper{
  margin:rem-calc(0 0 $boushh-spacing);
}

fieldset{
  @include boushh-inset();
  position:relative;
  border:none;
  padding:rem-calc($boushh-spacing*2.5 $boushh-spacing 0);
  margin:rem-calc(0 0 $boushh-spacing);

  &.form-wrapper-nolegend{
    padding:rem-calc($boushh-spacing $boushh-spacing 0);
  }

  &:first-child{
    margin-top:0;
  }

  &:last-child{
    margin-bottom:0;
  }

  .fieldset-description,
  .fieldset-wrapper > .description{
    text-shadow: 0 1px 0 color-alt(5%);
    font-weight:100;
    color:$boushh-secondary;
    font-size:rem-calc(15);
    padding:rem-calc(0 0 $boushh-spacing 0);

    p:last-child{
      font-weight:100;
      font-size:rem-calc(15);
      margin-bottom:0;
    }
  }

  > legend{
    background:none;
    margin:0;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding:rem-calc($boushh-spacing $boushh-spacing 0);

    .fieldset-legend,
    a{
      font-weight:700;
      font-size:rem-calc(15);
      color:color(70%);
      text-transform: uppercase;
    }

    a{
      color:$boushh-primary;

      &:hover{
        color:lighten($boushh-primary, 15%);
      }
    }

    .summary{
      font-size:rem-calc(11);
      line-height:rem-calc(13);
      font-weight:300;
    }
  }

  &.collapsible{
    min-height:rem-calc($boushh-spacing*3);

    > legend{
      .fieldset-legend{
        background:none;
        padding:0;

        a:before{
          display:inline-block;
          width:rem-calc(14);
          text-align: center;
          font-family: "FontAwesome";
          content: "\f0d7";
          padding:rem-calc(0 4 0 0);
          font-weight:normal;
          color:color(70);
        }
      }
    }

    &.collapsed > legend .fieldset-legend a:before{
      content: "\f0da";
    }
  }

  > .fieldset-wrapper{
    margin:rem-calc( 0 0 $boushh-spacing);
    padding:0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Form Item
////////////////////////////////////////////////////////////////////////////////

.form-item{
  @include boushh-inset();
  padding:rem-calc($boushh-spacing);
  margin:rem-calc(0 0 $boushh-spacing);
  display:block;

  > table{
    margin:0;
  }

  &.form-type-checkbox{
    @include boushh-reset();
    padding:rem-calc(2 0);
    margin:0;
  }

  &.form-type-radio{
    background:none !important;
    box-shadow: none !important;
    padding:rem-calc(2 0) !important;
    margin:0 !important;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Vertical Tabs
////////////////////////////////////////////////////////////////////////////////

div.vertical-tabs{
  @include display(flex);
  @include flex-direction(row);
  @include align-items(top);
  @include boushh-inset();
  border:none;
  margin:rem-calc($boushh-spacing 0);
  padding:rem-calc(0);

  ul.vertical-tabs-list{
    @include flex(0 0 rem-calc(300));
    border:none;
    position: relative;
    z-index:1;
    // margin:rem-calc(0 0 0 -290);
    margin:0;
    // width: rem-calc(300);
    float:none;
    @include background(linear-gradient(to right, darken($boushh-bg-alt, 6%), rgba($boushh-bg-alt, 0)));

    > li{
      border:none;
      background:none;
      box-shadow: none;
      @include transition(background 500ms);

      &:hover{
        // @include background(linear-gradient(to right, darken($boushh-bg-alt, 6%), rgba($boushh-bg-alt, 0)));
        background: $boushh-bg-alt;
        box-shadow: none;
      }

      a{
        text-shadow: 0 1px 0 color-alt(5%);
        text-decoration: none;
        color:color(70%);
        padding:rem-calc($boushh-spacing);
        outline:none;

        &:hover{
          strong{
            text-decoration: none;
          }
        }
      }

      .summary{
        font-size:rem-calc(12);
        color:color(50%);
      }

      &.selected{
        @include background(linear-gradient(to right, $boushh-bg, rgba($boushh-bg-alt, 0)));

        a{
          strong{
            color:$boushh-primary;
            text-decoration: none;
          }

          .summary{
            color:color(80%);
          }
        }

        &:hover{
          @include background(linear-gradient(to right, $boushh-bg, rgba($boushh-bg-alt, 0)));
        }
      }
    }
  }

  div.vertical-tabs-panes{
    @include flex(auto);
    // width:100%;
    @include boushh-outset();
    padding:rem-calc($boushh-spacing $boushh-spacing 0);
    margin:rem-calc($boushh-spacing);

    fieldset.vertical-tabs-pane{
      @include boushh-reset();
      padding:0;
      margin:0;

      // > .fieldset-wrapper{
      //   padding:0;
      // }

      // > .fieldset-wrapper > .form-item{
      //   @include boushh-inset();
      //   padding:rem-calc($boushh-spacing);
      //   margin: rem-calc(0 0 $boushh-spacing);
      // }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Inline Entity Table
////////////////////////////////////////////////////////////////////////////////

table.ief-entity-table{

  tr.ief-row-entity:not(.draggable){
    display:none;
  }

  .ief-form.ief-form-row{
    border:none;
    padding:rem-calc($boushh-spacing $boushh-spacing 0);

    .form-item .form-item{
      @include boushh-reset();
      padding:rem-calc($boushh-spacing 0 0);
      margin:0;
    }
  }

  tr.ief-row-form{

    &:hover{
      box-shadow: none;
    }

    > td{
      padding:0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Elements
////////////////////////////////////////////////////////////////////////////////

.resizable-textarea{
  .grippie{
    background-color:darken($boushh-bg-alt, 5%);
    border-color:darken($boushh-bg-alt, 8%);
  }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
  background:darken($boushh-bg-alt, 5%);
  color:color(70%);
  border-color:$boushh-bg;
  height:rem-calc($boushh-spacing*3);
  padding:rem-calc(0 $boushh-spacing);
  margin:0;

  &:disabled{
    color:rgba(color(70%), .5);
  }

  &:focus{
    background:darken($boushh-bg-alt, 5%);
    border-color:$boushh-primary;
    box-shadow: 0 0 5px $boushh-primary;
  }
}

.exo-placeholder{
  @include boushh-outset();
}

textarea.form-textarea{
  padding:rem-calc(5 $boushh-spacing);
  line-height:rem-calc(22);
}

.field-type-double-field{
  .form-item{
    margin:0;
  }

  .double-field-elements{
    margin:0;

    > .form-item{
      @include boushh-reset();
      padding:0;
      margin:0;
      width:50%;
    }
  }
}

fieldset:not(.vertical-tabs-pane) .fieldset-wrapper .addressfield-container-inline{
  @include display(flex);

  > .form-item{
    @include flex(auto);
    margin:rem-calc(0 $boushh-spacing 0 0);

    &:last-child{
      margin:0;
    }
  }
}

.field-type-link-field{
  @include boushh-inset();
  padding:rem-calc($boushh-spacing);

  .form-item{
    @include boushh-reset();
    padding:0;
    margin:0;
  }
}

.form-type-phone-number{
  position: relative;

  .form-phone-number{

    > * {
    }

    input[type=hidden]{
      display:none;
    }

    .form-type-textfield{
      @include boushh-reset();
      padding:0;
      margin:0;
      width:50%;
      display:inline-block;

      &:last-child{
        position:absolute;
        top:rem-calc($boushh-spacing - 2);
        right:rem-calc($boushh-spacing);
        padding-left:rem-calc($boushh-spacing * 2);

        label{
          margin-left:0;
        }
      }
    }
  }
}

.field-type-link-field{
  @include boushh-reset();
  padding:0;
  margin:0;

  > div > .form-item{
    padding:rem-calc($boushh-spacing);
  }

  .row{
    @include boushh-inset();
    padding:rem-calc($boushh-spacing);
  }

  .link-field-column{
    width:50%;
    padding-right:$column-gutter;

    .form-item{
      float:none;
    }

    .form-text{
      width:100%;
    }
  }

  .field-suffix{
    margin-top:rem-calc($boushh-spacing);
    border:none;
    background:none;

    a{
      width:100%;
      margin:0;
    }
  }
}

.form-type-password-confirm{
  @include clearfix();

  .form-item-pass-pass1,
  .form-item-pass-pass2{
    @include boushh-reset();
    padding:0;
    margin:rem-calc(0 $boushh-spacing 0 0);
    display:inline-block;
    width:30%;
    position: relative;
  }

  div.password-suggestions{
    @include boushh-outset();
    border:none;
    padding:rem-calc($boushh-spacing);
    margin:0;

    ul{
      margin-top:rem-calc(5);
    }

    li{
      font-size:rem-calc(14);
      color:$boushh-secondary;
    }
  }

  div.password-strength,
  div.password-confirm{
    position:absolute;
    top:rem-calc(-10);
    right:0;
    margin:0;
    text-align:right;

    .password-strength-text{
      padding-left:rem-calc(4);
    }

    span{
      display:inline-block;
      color:color(70%);
      padding:rem-calc(4 12);
      font-size:rem-calc(13);
      margin:0;
      width:rem-calc(50);
      text-align: center;
      text-transform: uppercase;

      &.error{
        background:#F04124;
      }

      &.ok{
        background:#43AC6A;
      }
    }
  }
}

.field-type-addressfield{
  .street-block{
    margin-bottom:rem-calc($boushh-spacing);
  }
}

span.prefix, label.prefix,
span.postfix, label.postfix{
  background:darken($boushh-bg-alt, 5%);
  border-color:$boushh-bg;
  height:rem-calc($boushh-spacing*3);
  line-height:rem-calc($boushh-spacing*3);
  color:color(60%);
  margin:0;
  display:inline-block;
}

.text-format-wrapper{

  > .form-item{
    margin-bottom:0;
  }

  &:hover{
    fieldset.filter-wrapper{
      max-height:rem-calc(300);
      @include transition(max-height 300ms 1000ms);
    }
  }

  fieldset.filter-wrapper{
    border:none;
    margin:rem-calc(2 0 0);
    padding:0;
    max-height:0;
    overflow:hidden;
    @include transition(max-height 300ms 300ms);

    label{
      display:block;
      font-size:rem-calc(12);
      font-weight:300;
    }

    .filter-help{
      padding:rem-calc($boushh-spacing 0);

      a{
        display:block;
        font-size:rem-calc(11);
        background:none;
        padding:0;

        &:after{
          color:rgba(color(70%), .3);
          font-family: "FontAwesome";
          content: " \f059";
        }
      }
    }

    .boushh-select-wrapper,
    .boushh-select{
      height:rem-calc($boushh-spacing*2);

      &:before,
      &:after{
        top: rem-calc($boushh-spacing/1.5);
      }
    }

    .filter-guidelines{
      display:inline-block;
      padding:rem-calc($boushh-spacing*1.5 0 0 10);
    }

    .fieldset-wrapper{
      @include boushh-reset();
      padding:rem-calc($boushh-spacing $boushh-spacing 0);
      margin:0;
    }

    .form-item{
      @include boushh-reset();
      padding:0;
      margin:0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Checkboxes & Radios
////////////////////////////////////////////////////////////////////////////////

.form-checkboxes{
  @include boushh-inset();
  padding:rem-calc($boushh-spacing);
  margin:0;

  .form-item.form-type-checkbox{
    @include boushh-reset();
  }
}

.fieldset-wrapper .form-checkboxes{
  @include boushh-outset();
}

.form-item.form-type-checkbox,
.form-item.form-type-radio {
  // text-indent: rem-calc(25);
  white-space: nowrap;
  position: relative;
  padding: 0;
  margin:0;
  min-height:rem-calc(20);
  @include box-sizing(content-box);

  // Hack to make sure checkbox is shown if it doesn't have a label.
  > *:first-child{
    display:none;
  }
  > *:last-child{
    display:inline;
  }

  .description{
    display:block;
    white-space: normal;
    padding-top:0;
  }

  label.option{
    cursor: pointer;
    position: relative;
    margin:0;

    &:before {
      font-family: "FontAwesome";
      content: "\f00c";
      color:rgba(color-alt(70%), 0);
      font-size:rem-calc(12);
      line-height:rem-calc(12);
      background:$boushh-primary;
      padding:rem-calc(2 3);
      margin:rem-calc(0 8 0 0);
      border-top:1px solid lighten($boushh-primary, 15%);
      text-shadow: none;
      opacity: .6;
      @include transition(all 300ms);
    }
    &:hover::before {
      color:rgba(color-alt(70%), 0.5);
    }
  }

  input[type=checkbox],
  input[type=radio] {
    // visibility:hidden;
    // display:none;

    &:checked + label:before {
      color:rgba(color-alt(70%), 1);
      opacity: 1;
    }
  }
}

.fieldset-wrapper > .form-item.form-type-checkbox,
.fieldset-wrapper > .form-item.form-type-radio,
.form-wrapper > .form-item.form-type-checkbox,
.form-wrapper > .form-item.form-type-radio{
  @include boushh-inset();
  padding:rem-calc($boushh-spacing);
  margin: rem-calc(0 0 $boushh-spacing);
}

div.explode > div.form-item.form-type-checkbox,
div.explode > div.form-item.form-type-radio{
  display:inline-block;
  padding:0 !important;

  label.option{
    // @include boushh-inset();
    background:darken($boushh-bg-alt, 5%);
    font-weight:500;
    display:block;
    padding:rem-calc(10);
    line-height:rem-calc(22);
    height:rem-calc(20);
    @include box-sizing(content-box);

    i{
      font-size:rem-calc(20);
    }

    &:before {
      display:none;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    // visibility:hidden;
    // display:none;

    &:checked + label {
      @include boushh-reset();
      background: $boushh-primary;
      color: #fff;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Select
////////////////////////////////////////////////////////////////////////////////

.boushh-select-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  height:rem-calc($boushh-spacing*3);
  width:100%;
  background: darken($boushh-bg-alt, 5%);
  border: 1px solid;
  border-color: $boushh-bg;

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 8;
    top: rem-calc($boushh-spacing);
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #aaa transparent;
    pointer-events: none;
  }

  &:before {
    border-bottom-style: solid;
    border-top: none;
  }

  &:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }
}

.boushh-select {
  position: relative;
  width: 100%;
  margin: 0;
  padding: rem-calc(6 8 6 10);
  height:rem-calc($boushh-spacing*3);
  line-height: 14px;
  font-size: 12px;
  color: color(70%);
  text-shadow: 0 1px color-alt(5%);
  background:darken($boushh-bg-alt, 5%) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none !important;

  &:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 color(70%) !important;
    background-image: none !important;
    border:0;
  }

  &:focus {
    z-index: 3;
    width: 100%;
    color: color(70%);
    outline:none;
  }

  > option {
    padding: 6px 8px;
    text-shadow: 0 1px rgba(white, .4);
    color:#404040 !important;
    background: #b3b3b3;
    cursor: pointer;
  }
}

.boushh-select-multiple{
  height:auto;

  &:before,
  &:after{
    display:none;
  }

  .boushh-select{
    height:auto;
    min-height:rem-calc(160);

    > option{
      padding: 2px 8px;
      background: darken($boushh-bg-alt, 5%);
      color:color(70) !important;
      text-shadow: 0 1px rgba(black, .4);
    }
  }
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 {
  .dropdown { z-index: 1; }
  .boushh-select { z-index: -1; }
  .boushh-select:focus { z-index: 3; }
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  select.boushh-select, select.boushh-select:-moz-focusring, select.boushh-select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 color(70%) !important;
    background-image: none !important;
    border:0;
    padding-left: 6px;
  }
}

} // End .page

html.js form input.form-autocomplete{
  background-image:none;
  &:focus{
    background-position: 100% 11px;
  }
}
