.field-prefix{

  > *{
    display:inline-block;
    float:left;
    line-height:($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
    white-space: nowrap;
  }

  > input{
    width:auto;
  }
}

.form-item{
  margin:0 0 $column-gutter;

  .form-item{
    margin:0;
  }

  &:not(.form-type-checkbox):not(.form-type-radio) > label,{
    @include boushh-font-thin();
    font-weight:bold;
    font-size:rem-calc(16);
    text-transform: uppercase;
  }
}

.form-wrapper{
  margin:0 0 $column-gutter;

  .form-item:last-child{
    margin:0;
  }
}

.container-inline{

  > button{
    padding:$button-tny $button-tny*1.5;
    font-size: $button-font-tny;
  }
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  margin:0;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select{
  margin:0;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;

  ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }

  li {
    background: #fff;
    color: #000;
    cursor: default;
    white-space: pre;
    zoom: 1; /* IE7 */
  }
}

/* Animated throbber */
html.js input.form-autocomplete {

  &.form-autocomplete{
    // background-image: url(../../misc/throbber-inactive.png);
    background-position: 100% center; /* LTR */
    background-repeat: no-repeat;
  }

  &.throbbing {
    // background-image: url(../../misc/throbber-active.gif);
    background-position: 100% center; /* LTR */
  }
}

/**
 * Page filters
 */
.exposed-filters {

  > .form-wrapper {
    @include display(flex);
    @include flex-flow(row wrap);
    margin: 0;

    > * {
      margin: 0;
    }
  }

  .filters{
    @include flex(auto);
    @include display(flex);
    @include flex-flow(row wrap);

    > *{
      @include flex(auto);
      padding: 0 $column-gutter/4;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        @include flex(0 0 auto);
        padding-right: 0;
      }
    }

    label {
      @include boushh-font-thin();
      font-weight: bold;
      font-size: rem-calc(14);
      line-height: rem-calc(14);
      text-transform: uppercase;
      padding: rem-calc(0 0 3);
    }

    .form-item {
      margin: 0;
    }
  }

  .form-actions{
    padding: rem-calc(16 0 0 10);

    button {
      padding: $column-gutter/1.5 $column-gutter*1.5;
    }
  }
}
