.block-masquerade-masquerade{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  z-index:100;

  .block-title{
    display:none;
    font-size:rem-calc(12);
    text-transform: uppercase;
    margin:rem-calc(0 0 2);
  }

  form{
    background:none;
    margin:0;
    padding:0;

    .container-inline{
      margin:0;

      .form-item{
        @include boushh-reset();
        padding:0;
        margin:0;
        width:90%;

        input{
          height:rem-calc(30) !important;
        }
      }

      button{
        background:$boushh-bg !important;
        border-radius:0 !important;
        padding:rem-calc(7) !important;
        box-shadow:none !important;
        width:10%;
        margin:0 !important;
      }
    }

    > div > .form-item{
      padding:rem-calc(2);
      margin:0;

      .description{
        font-size:rem-calc(11);
        text-transform: uppercase;
        padding:0;
        margin:0;
      }
    }
  }
}
