.page{

////////////////////////////////////////////////////////////////////////////////
// Office Hours
////////////////////////////////////////////////////////////////////////////////

.field-type-office-hours{

  .office-hours-block{
    font-size:rem-calc(12);
    color:color(20%);
    text-transform: uppercase;

    label{
      display:block;
      padding-bottom:rem-calc(10);
    }
  }

  .form-type-select{
    @include boushh-reset();
    padding:0;
    margin:0;
    vertical-align: middle;
    width:rem-calc(100);
    margin:rem-calc(0 5);
    display:inline-block;

    &:nth-child(2){

    }
  }
}

}
