.page{

////////////////////////////////////////////////////////////////////////////////
// Two-Factor Auth
////////////////////////////////////////////////////////////////////////////////

#tfa-basic-setup-form{
  .form-item-seed{
    opacity:1;

    *{
      opacity:1;
    }

    input{
      color:color(100);
    }
  }

  img{
    border: 5px solid $boushh-bg-alt;
    margin:rem-calc(0 0 $boushh-spacing);
  }
}

} // End .page
