////////////////////////////////////////////////////////////////////////////////
// Views UI
////////////////////////////////////////////////////////////////////////////////

.views-ui-view-title{
  font-family:$font_custom;
  font-size:rem-calc(16);
  padding-bottom:rem-calc(5);
}

.views-ui-view-displays,
.views-ui-view-storage,
.views-ui-view-base{
  font-size:rem-calc(12);
  line-height:rem-calc(15);
}

.ctools-export-ui-enabled{
  .views-ui-view-displays,
  .views-ui-view-storage,
  .views-ui-view-base{
    color:#7f7f7f;
  }
}

.views-displays{

  .secondary{
    margin:0;
  }

  h2,
  .ctools-toggle{
    font-family:$font_custom;
    color: $primary-color;
    font-size:rem-calc(17);
    font-weight:700;
  }

  h3{
    font-weight:700;
    font-size:rem-calc(14);
    line-height:rem-calc(26);
  }

  .label{
    font-family:$font_custom;
    background:none;
    color:#7f7f7f;
    font-weight:700;
    text-transform: uppercase;
  }
}

#views-ajax-popup{
  background:#f6f6f6;
  height:auto !important;
  // box-sizing: initial;

  // &:before,
  // &:after{
  //   box-sizing: initial;
  // }

  #views-ajax-title{
    font-family:$font_custom;
    background:#f6f6f6;
    font-size:rem-calc(16);
    text-transform: uppercase;
    color:#646464;
    font-weight:600;
  }

  .scroll{
    border-color:#e9e9e9;
  }

  #views-filterable-options-controls{
    margin:0;
    padding: rem-calc(0 0 20);
    @include clearfix();

    .form-item{
      width: rem-calc(200);
      margin: rem-calc(0 10 0);
      float:left;
    }
  }

  #views-ajax-body{
    background:#fff;
    overflow:hidden;
    // box-sizing: initial;

    // &:before,
    // &:after{
    //   box-sizing: initial;
    // }
  }

  .views-add-form-selected{
    margin:0;
    padding:0;
    font-size:rem-calc(11);
    color:#7f7f7f;
    background:#f6f6f6;
  }

  .views-override{
    // display:none;
    background:none;
    margin:0;
    position:absolute;
    right:rem-calc(10);
    top:1px;

    // .form-item-override-dropdown{

    //   & > *{
    //     float:left;
    //   }
    // }

    label{
      display:block;
      position:absolute;
      left:0;
      top:10px;
      color:#646464;
      font-size:rem-calc(11);
      text-transform: uppercase;
    }

    .form-select{
      margin-left:rem-calc(20);
      border:none;
    }
  }

  table{
    width:100%;
  }

  .even .form-type-checkbox{
    background:$table-even-row-bg;
  }

  .form-buttons{
    background:#f6f6f6;
    padding:rem-calc(15);

    button{
      margin:rem-calc(0);
    }
  }
}

#views-ui-edit-form{
  .form-actions{
    margin:0;
  }
}

#views-preview-wrapper{
  #views-ui-preview-form{
    .form-type-textfield label{
      height:auto;
    }
  }

  .views-query-info{
    table{
      margin:0;
    }
  }
}

body #views-ui-list-page,
body .views-admin,
body #views-ajax-popup {
  .ajax-progress-throbber{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  .ajax-progress-throbber:before {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-10px;
    margin-top:-10px;
    font-family: "FontAwesome";
    font-size:20px;
    color:#fff;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    width: 20px;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 20px;
    content: '\f110';
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
}
