.ctools-export-ui-disabled{
  opacity:.5;
}

#ctools-export-ui-list-form{
  @include boushh-panel();
  padding-bottom:0;
}

.ctools-export-ui-row{
  @include display(flex);
  @include flex-direction(row);
  margin: 0 ($column-gutter/4)*-1;

  > *{
    @include flex(auto);
    margin:0 $column-gutter/4;
  }

  > button,
  > .button{
    @include flex(0 0 auto);
    padding:$button-tny/2 $button-tny*1.5;
    font-size: $button-font-tny;
    margin:$column-gutter*1.4 $column-gutter/4 $column-gutter;
    @include button-style($bg:$secondary-button-bg-color, $bg-hover:$secondary-button-bg-hover, $border-color:$secondary-button-border-color);
  }
}
