
.field-widget-date-select {

  .container-inline-date {
    padding-top: $column-gutter/2;

    .date-padding {
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);

      > * {
        @include flex(auto);
        padding: 0 $column-gutter/2 0 0;

        &:last-child {
          padding-right: 0;
        }
      }

      label {
        font-weight: normal !important;
        font-size: rem-calc(11) !important;
        font-family: $font-family-sans-serif !important;
      }

      > .select {
        @include flex(auto);
      }
    }
  }
}
