.manualcrop-overlay{

  .manualcrop-buttons{
    text-align:right;
    overflow: hidden;
    display:inline-block;

    a{
      margin:0;
    }
  }
}

.ief-entity-operations {

  .manualcrop-style-button-holder {
    padding: 0;
  }

  .form-type-select {
    padding-left: $column-gutter/2;

    label,
    .description {
      display: none;
    }
  }
}
