
#page .view-filters{
  @include boushh-panel();

  .views-exposed-widgets{
    @include display(flex);
    @include flex-flow(row wrap);

    > *{
      @include flex(auto);
      padding: 0 $column-gutter/4;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        @include flex(0 0 auto);
        padding-right: 0;
      }
    }

    label {
      @include boushh-font-thin();
      font-weight: bold;
      font-size: rem-calc(14);
      line-height: rem-calc(14);
      text-transform: uppercase;
      padding: rem-calc(0 0 3);
    }

    .form-item {
      margin: 0;
    }

    .views-submit-button{
      padding-top: rem-calc(16);

      button {
        padding: $column-gutter/1.5 $column-gutter*1.5;
      }
    }
  }
}
