////////////////////////////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////////////////////////////

$form-primary-bg: #2e383e;
$form-secondary-bg: #232A2F;
// $form-primary-bg: #333333;
// $form-secondary-bg: #262626;
$form-shadow: rgba(0,0,0,0.25);
$form-spacing: 20;

$form-text-color: #fff;
$form-primary-color: #0997c3;
$form-success-color: #43AC6A;
$form-warning-color: #F08A24;
$form-info-color: #0997c3;
$form-error-color: #F04124;
$form-description-color: #f0c495;

// Ops Bar
$opsbar-link-bg: $form-primary-bg;
$opsbar-link-bg-hover: $form-secondary-bg;
$opsbar-link-bg-active: $form-secondary-bg;

// Tooltips
$tooltip-bg: $form-text-color;
$tooltip-font-color: $form-primary-bg;
