@import 'bourbon';

$font_custom: "Open Sans","Helvetica Neue",Arial,sans-serif;

// Background
$boushh-bg: #2e383e !default;
$boushh-bg-alt: darken($boushh-bg, 5%) !default;

$boushh-spacing: 20 !default;
$boushh-lightness: lightness($boushh-bg) !default;

$boushh-primary: #0997c3 !default;
$boushh-secondary: #f0c495 !default;
$boushh-success: #43AC6A !default;
$boushh-warning: #F08A24 !default;
$boushh-info: #0997c3 !default;
$boushh-error: #F04124 !default;

// Dark backgrounds will return lighter colors based on percent.
// Light backgrounds will return darker colors based on percent.
@function color($percent) {
  // dark -> lighter
  @if $boushh-lightness < 70% {
    @return lighten($boushh-bg, $percent);
  }
  // light -> darker
  @else {
    @return darken($boushh-bg, $percent);
  }
}
// Dark backgrounds will return darker colors based on percent.
// Light backgrounds will return lighter colors based on percent.
@function color-alt($percent) {
  // dark -> darker
  @if $boushh-lightness < 70% {
    @return darken($boushh-bg, $percent);
  }
  // light -> lighter
  @else {
    @return lighten($boushh-bg, $percent);
  }
}
// Normallizes the background color and will always return a darker color.
@function color-dark($percent) {
  @if $boushh-lightness < 70% {
    @return lighten($boushh-bg, $percent);
  }
  @else {
    @return lighten(darken($boushh-bg, 70%), $percent);
  }
}

// Foundation
$primary-color: $boushh-primary;

// Tooltips
$tooltip-bg: color(80) !default;
$tooltip-font-color: color(10) !default;

// Ops Bar
$opsbar-link-color: color-dark(70%) !default;
$opsbar-link-color-hover: color-dark(80%) !default;
$opsbar-link-color-active: color-dark(90%) !default;
$opsbar-link-bg: color-dark(5%) !default;
$opsbar-link-bg-hover: color-dark(3%) !default;
$opsbar-link-bg-active: color-dark(0%) !default;

$opsbar-secondary-link-color: color-dark(15%) !default;
$opsbar-secondary-link-bg-color: color-dark(70%) !default;
$opsbar-secondary-link-active-color: #7f7f7f !default;
$opsbar-secondary-link-bg-hover: color-dark(75%) !default;
$opsbar-secondary-link-bg-active: color-dark(80%) !default;
$opsbar-secondary-link-bg-active-hover: color-dark(80%) !default;
